*.class
/target/

# Package Files #
*.jar
*.war
*.ear
.classpath
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
*.iml
.idea/
/dependency-reduced-pom.xml
